body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para o cabeçalho */
.header {

    color: #d39b6a;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.logo {
    font-size: 19px;
    font-weight: bold;
    margin-left: 30px; 
}

.navigation {
    list-style: none;
    padding: 0;
    margin-right: 30px; 
}

.navigation li {
    display: inline;
    margin-left: 20px; 
}

.navigation a {
    color: #d39b6a;
    text-decoration: none;
    font-weight: bold;
    padding-right: 17px;
}

.navigation a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}


h1 {
    text-align: center;
}

ul {
    list-style: none;
    color: red;
}


.card {
    width: 300px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

a{
    text-decoration: none;
    color: #d39b6a;
}

.a_button{
    color: #fff;
}

.card-content {
    padding: 15px;
}

.product-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.product-description {
    margin: 10px 0;
}

.product-price {
    font-size: 16px;
    font-weight: bold;
}

/* Adicione estas regras de estilo no seu arquivo CSS */

.add-to-cart-button {
    background-color: #d39b6a;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.add-to-cart-button:hover {
    background-color: #d39b6a;
}

.editar{
    background-color: rgb(57, 114, 219);
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
footer{
    margin-top: 50px;
    background-color: #d39b6a;
    padding: 50px 0;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}
.footer-col .midias-socias{
    margin-top: 30px;
}
.footer-col .midias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}
.footer-col .midias-socias a i{
    font-size: 20px;
}

.footer-col .midias-socias a:hover{
    color: #d39b6a;
    background-color: white;
}
.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: #d39b6a;
}
.footer-col .form-sub input::placeholder{
    color: white;
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #d39b6a;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;        
}
.copyright{
    font-family: 'Poppins', sans-serif;
    color: white;
}
/* Responsivo */
@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}




