<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../carrinho/style_vazio.css" />
  <title>Carrinho de Compras</title>
</head>

<body>
  <header>
    <%- include("../partes/navbar", { codLogado: codLogado }) %>

  </header>
  <main>
    <div class="page-title">Seu Carrinho</div>
    <div class="content">
      <section>
            Não há Produtos no carrinho
            <a href="/produtos"><button type="#">Adicionar</button></a>
      </section>
      
    </div>
  </main>
</body>


</html>